@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300);

body {
  background: #e0ffff;
  font-family: Roboto Condensed, sans-serif
}

h2 {
  color: #00008b;
  font-size: 2em
}

.form-field,
.intro,
h2 {
  text-align: center
}

.form-field {
  margin-top: 1em
}

.submit-button {
  font-size: 1.1em;
  padding: .3em;
  border-radius: 5px;
  border-style: none;
  background-color: #8a2be2;
  color: #fff
}

.submit-button:hover {
  cursor: pointer;
  background-color: #6495ed
}

.library-header {
  text-align: center;
  margin: 1.5em auto;
  margin-bottom: 0;
  font-size: 1.5em;
  color: #00008b
}

.table-data {
  border: .1em solid #f0f8ff;
  border-radius: .5em;
  padding: .3em
}

.td-click {
  width: 1em;
  font-size: .8em;
  background: red;
  color: #fff;
  padding: .6em;
  text-align: center
}

.td-click:hover {
  background: crimson;
  cursor: pointer
}

.table-container {
  min-width: 19em;
  margin: 1em auto;
  margin-bottom: 0
}

.tiles {
  width: 15em;
  margin: 1em auto
}

.tile {
  height: 2em;
  width: 2em;
  border-radius: 10px;
  display: inline-block;
  margin: .2em;
  transition: transform 1s ease;
  cursor: pointer;
}

.tile:hover {
  transform: rotate(360deg);
}

.form-input {
  font-size: 1.1em;
  padding: .25em;
  border-radius: 5px;
  border: .01em solid grey;
}

.td-color {
  border-width: 0.05em;
  border-style: solid;
  border-color: lightgrey;
  border-radius: 5px;
  padding: 0.3em;
  padding-left: .75em;
  background-color: white;
}